#section0{
	background-color: transparent;
}

.content{
	height: 100%;
}

label {
	font-size: 30px;
	font-family: sans-serif;
}

h1 {
	font-family: sans-serif;
	width: 450px;
	height: 100px;
	font-size: 40px;
}

h2 {
	font-family: sans-serif;
	width: 450px;
	height: 150px;
	font-size: 40px;
/*from here */
	font-weight: normal;
}

p {
	font-family: sans-serif;
	font-size: 38px;
	text-align: center;
}
/*until here*/

/*
.slide{

	font-family: 'Open Sans';
	text-align:left;
 	color: #fcfcfc;
	color: #fcfcfc; 
}
*/
