#section0{
	background-color: transparent;
	margin: 2%;
}

.content{
	height: 100%;	
}

label {
	font-size: 30px; 
	font-family: sans-serif;
	margin-left: 10%; 
}

h1 {
	font-family: sans-serif;
	width: 450px;
	height: 150px;
	font-size: 40px;
}

h2 {
	font-family: sans-serif;
	width: 450px;
	height: 150px;
	font-size: 40px;
	font-weight: normal;
}

p {
	font-family: sans-serif;
	font-size: 38px;
	text-align: center;
}